* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  html, body {
    height: 100%;
  }
  
  .principal {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: rgb(32,55,10);
    background: linear-gradient(141deg, rgba(32,55,10,1) 10%, rgba(209,168,47,1) 50%, rgba(253,224,97,1) 95%);
  }
  
  .avatar {
    width: 120px;
    border-radius: 80px;
    border: 3px solid white;
    box-shadow: 0 0 30px white;
  }
  
  body div h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 2px;
  }
  
  h2 {
    font-size: 26px;
    font-family: 'Dancing Script', cursive;
  }
  
  .profile {
    margin-top: 20px;
    text-align: center;
  }
    
  .links-list {
    list-style: none;
  }
  
  .links-list li {
    margin: 30px 80px;
    text-align: center;
  }
  
  .links-list li a {
    display: block;
    background: #20370a;
    padding: 15px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .links-list li a span {
    color: white;
    display: block;
    margin-top: 10px;
    font-weight: 100%;
    font-size: 16px;
  }
  
  .links-list li a.active {
    box-shadow: 0 0 20px black;
    color: white;
    font-size: 25px;
    font-weight: 600;

  }
  
  /*menu*/

  .corpo{
    background-color: rgb(32,55,10);
    font-family: 'Dosis', sans-serif;
  }
  
  .img-class{
    width: 100%;    
  }

  header h1{
    color: white;
    text-align: center;
    font-size: 8vw;
    font-weight: 100;
  }

  .m-conteiner{
    display:grid;
    grid: auto/ auto auto;

  }

  .m-lanche, .m-doces, .m-pao, .m-bolo{
    color:white;
    text-align: center;
  }

  section div h1{
    color: rgba(209,168,47,1);
    font-family: 'Dancing Script', cursive;
    font-size: 5vw;
    margin-top: 50px;
  }

.list{
  font-family: 'Open Sans', sans-serif; 
  list-style: none;
  font-size: 2vw;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}


.li-list{
  font-size: 1.4vw;
  text-align: center;
  padding-bottom: 2px;
}